<div class="register d-flex justify-content-center align-items-center">
    <div class="">
        <!-- <mat-progress-bar class="progress-bar" mode="indeterminate" color="accent" *ngIf="loader"></mat-progress-bar> -->
        <mat-card class="register-card">
            <mat-card-title class="text-center mb-4">Register</mat-card-title>
            <form [formGroup]="registerForm">
                <mat-card-content>
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="pat@example.com" required formControlName="email">
                            <mat-error *ngIf="registerForm.controls['email'].hasError('required')">Email Required</mat-error>
                            <mat-error *ngIf="registerForm.controls['email'].hasError('email')">Invalid Email</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your Number</mat-label>
                            <input type="number" matInput required formControlName="number" maxlength="10">
                            <mat-error *ngIf="registerForm.controls['number'].hasError('required')">Number Required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Select Role</mat-label>
                            <mat-select required formControlName="role">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let role of roles" [value]="role" >
                                    {{role}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="registerForm.controls['role'].hasError('required')">Role Required</mat-error>
                            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hidePassword ? 'password' : 'text'" required formControlName="password">
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="registerForm.controls['password'].hasError('required')">Password Required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Confirm your password</mat-label>
                            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" required formControlName="confirmPassword">
                            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hideConfirmPassword">
                                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('notEqualToPassword')">Password Not Matching</mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <button mat-raised-button color="primary" [disabled]="registerForm.invalid" (click)="register(registerForm.value)">REGISTER</button>
                    <button mat-raised-button color="warn">CANCEL</button>
                </mat-card-actions>
            </form>
            <div class="text-center">
                <a class="text-primary" routerLink="/login">Existing User?</a>
            </div>

        </mat-card>
    </div>
</div>