<div class="footer-relative">
    <div class="footer bg-primary">
        <div class="px-3 mt-5 text-light">
            <div class="row">
                <div class="col-2 text-center">
                    <h2>
                        NTTS TASK
                    </h2>
                    <span>Version 1.0</span>
                    <hr>
                    <span>Copyright &copy; 2022</span>
                </div>
                <div class="col-1" id="hr">
                    <div class=""></div>
                </div>
                <div class="col-3">
                    <h2><a class="text-light nav-link row" routerLinkActive="active" routerLink="/contact-us" appTextHover>Contact-us</a></h2>
                    <h2><a class="text-light nav-link row mt-3" routerLinkActive="active" routerLink="/about-us">About-us</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

